################################################################################
# Visual Studio
################################################################################

/OnceInfo/bin
/OnceInfo/obj
/.vs/
/*.suo
/*.user
/*.v2
/.vs/OnceInfo/FileContentIndex
/.vs/ProjectEvaluation
/.vs/OnceInfo/config

################################################################################
# Playwright & Node
################################################################################

# Carpeta de navegadores descargados por Playwright
.ms-playwright/
.playwright/

# Node modules si los hubiera
node_modules/

################################################################################
# Publicaciones y artefactos
################################################################################

# Publicaciones locales
publish-win-x64/
publish/
*.zip
*.exe