################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OnceInfo/bin/Debug/net6.0
/OnceInfo/obj
/.vs/OnceInfo/FileContentIndex
*.suo
*.v2
/OnceInfo/bin/Release/net6.0
/OnceInfo/OnceInfo.csproj.user
