################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OnceInfo/bin/Debug/net6.0
/OnceInfo/obj
